.footer-content {
    .main {
        display: inline-block;
        margin-left: -16px;
        margin-right: 16px;
    }
    .link {
        display: inline-block;
    }
    .simbirsoft {
        display: inline-block;
        position: fixed;
        right: 32px;
        font-size: 14px;
        color: #818ea3;
    }
}
