.list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 446px;
    background-color: white;
    border-radius: 9px;
    box-shadow: 0px 2px 0px rgba(90, 97, 105, 0.11), 0px 4px 8px rgba(90, 97, 105, 0.12),
        0px 10px 10px rgba(90, 97, 105, 0.06), 0px 7px 70px rgba(90, 97, 105, 0.1);
    .pagination {
        text-align-last: center;
        border-top: 1px solid #becad6;
        padding: 16px 0;
    }
}
.ant-pagination-item {
    border: none;
    font-size: 15px;
    font-family: "HelveticaRegular";
    a {
        color: var(--main-blue);
    }
}
.ant-pagination-item-link,
.ant-pagination-item-ellipsis {
    color: var(--main-blue) !important;
}
.ant-pagination-item-active {
    background-color: var(--main-blue);
    border-radius: 50%;
    a {
        color: white;
    }
}

@media (max-width: 641px) {
    .list {
        height: 530px;
    }
}
